data/2020-03-31.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-04.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-05.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-02.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-09.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-14.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-19.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-22.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-01.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-23.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-25.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-01.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-11.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-06.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-20.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-28.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-31.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-10.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-16.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-08.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-12.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-17.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-21.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-26.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-29.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-06.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-12.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-23.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-30.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-24.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-26.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-05.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-27.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-27.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-03.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-14.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-19.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-03-25.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-21.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-01-28.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-03.csv.gz filter=lfs diff=lfs merge=lfs -text
data/2020-02-17.csv.gz filter=lfs diff=lfs merge=lfs -text
